<!-- <p>navbar works!</p> -->

<mat-toolbar color="accent" class="position">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>book</mat-icon>
    </button>
    <a routerLink="/" class="home-style"><span>Exam Portal</span></a>
    <span class="example-spacer"></span>

    <a *ngIf="!isLoggedin" [routerLink]="'/login'" style="margin-right: 30px;" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <p class="font-size">Login</p>
    </a>

    <a *ngIf="!isLoggedin" [routerLink]="'/signup'" style="margin-right: 30px;" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <p class="font-size">Register</p>
    </a>

    <a (click)="logout()" *ngIf="isLoggedin" style="margin-right: 30px;" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <p class="font-size">Logout</p>
    </a>
    
    <a *ngIf="isLoggedin && user" routerLink="/admin/profile" style="margin-right: 40px;" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <p class="font-size">{{user.username}}</p>
    </a>
    
  </mat-toolbar>
