<!-- <p>welcome works!</p> -->
<!-- <br> -->
<!-- <h1>Welcome to the admin panel</h1> -->

<!-- <div class="center1">
    <h1 class="head1">Welcome To</h1>
</div> -->
<!-- <div class="center">

    <div class="heading">
        <h1 class="head">A</h1>
        <h1 class="head">D</h1>
        <h1 class="head">M</h1>
        <h1 class="head">I</h1>
        <h1 class="head">N</h1>
    </div>
</div> -->



<!-- ;Lds -->


<div class="center">
    <ul>
        <li><span  style=color:#ff4081>L</span></li>
        <li><span  style=color:#ff4081>E</span></li>
        <li><span  style=color:#ff4081>N</span></li>
        <li>A</li>
        <li><span  style=color:#3f51b5>P</span></li>
        <!-- <li>U</li>
        <li>H</li>
        <li>S</li>
        <li>N</li> -->
        <li>&nbsp;</li>

        <li><span  style=color:#ff4081>N</span></li>
        <li><span  style=color:#ff4081>I</span></li>
        <li><span  style=color:#ff4081>M</span></li>
        <li>D</li>
        <li><span  style=color:#3f51b5>A</span></li>
        
   
   </ul>
</div>
   
    
    <!-- <div class="search-box"> -->
    <!-- <input class="search-txt" type="text" placeholder=".....text here to search....." size="100px" ></input> -->
    <!-- <a class="search-btn"></a> -->
    <!-- <a href="https://www.google.com" target="blank">&#128269;</a> -->
    <!-- </div> -->
    
