<!-- <p>home works!</p> -->

<!-- <h1>Welcome to ExamPortal</h1> -->
<div class="bootstrap-wrapper">
    <div class="container ">
        <div class="row" style="margin: 20px;">
            <div class="col-md-6 offset-md-3 text-center">
                <button mat-raised-button color="accent" style="margin:5px;z-index:0"> Home Page</button>
                <h1>Welcome to ExamPortal</h1>
            </div>
        </div>
    </div>
</div>
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="img">
            <img src="../../../assets/Screenshot (282).png" alt="" srcset="">
        </div>
    </div>
</div>
