<!-- <p>sidebar works!</p> -->

<mat-card>
    <mat-action-list>
        <div mat-subheader>Menu
            <button  mat-list-item routerLink="/admin"><mat-icon class="btn" mat-list-icon color="accent">home</mat-icon>Home</button>
            <button  mat-list-item routerLink="/admin/profile"><mat-icon class="btn" mat-list-icon color="accent">account_circle</mat-icon>Profile</button>
            <button  mat-list-item routerLink="/admin/categories"><mat-icon class="btn" mat-list-icon color="accent">list</mat-icon>Categories</button>
            <button  mat-list-item routerLink="/admin/add-category"><mat-icon class="btn" mat-list-icon color="accent">add_circle_outline</mat-icon>Add Categories</button>
            <button  mat-list-item routerLink="/admin/profile"><mat-icon class="btn" mat-list-icon color="accent">quiz</mat-icon>Quizzes</button>
            <button  mat-list-item routerLink="/admin/profile"><mat-icon class="btn" mat-list-icon color="accent">add</mat-icon>Add Quiz</button>
            <button  mat-list-item routerLink="/admin/profile"><mat-icon class="btn" mat-list-icon color="accent">logout</mat-icon>Logout</button>
        </div>
    </mat-action-list>
</mat-card>